body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: tahoma, sans-serif;
}

.box-header {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px 0 10px;
    width: 100%;
    height: 2em;
    background-color: cyan;
}